<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="feeds">
      <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><img src="/images/Bespoke-header-logo.png"/></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/users">Collections</a></li>
          <li><a href="/search">Create</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  	<div class="feeds-container">
    	<div id="carousel-example-generic" class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
             <div class="item active">
                 <img src=<%= images[0] %> id=<%=projects[0].id %> />
                 <div class="carousel-caption"></div>
        	   </div>
           <%for (var i=1; i< images.length; i++){%>
               <div class="item">
                   <img src=<%= images[i] %> id=<%=projects[i].id %>/>
                   <div class="carousel-caption"></div>
          	</div>
          <%} %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
      <div class="like-wrapper">
        <button type="button" class="button-like" onClick="liked();">
          <img src="/images/assets/icon-like.png" />
        </button>
        <button type="button" class="button-dislike">
          <img src="/images/assets/icon-dontlike.png" />
        </button>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>