<!DOCTYPE html>
<html>
  <head>
    <title>Collection></title>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="profile-wrapper">
  	<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <div class="navbar-brand"><img src="/images/Bespoke-header-logo.png"/></div>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/users">Collections</a></li>
		      <li><a href="/search">New Feed</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
	</nav>


	<ul class="main-wrapper">
		<li class="tab">
			<div class="profile">
				<div class="profile-image">
					<img src="<%=image%>" />
				</div>
				<div class="profile-name">
					<h2><%=name || "Isabel" %></h2>
				</div>
			</div>
		</li>
		<li>
		    <a href="/search" class="thumbnail">
		     	 <div class="feed">
					<div class="feed-title">
						<h2>Vintage Cards</h2>
					</div>
				</div>
		    </a>
		</li>
		<li>
		    <a href="/search" class="thumbnail">
		     	 <div class="feed">
					<div class="feed-title">
						<h2>Photography</h2>
					</div>
				</div>
		    </a>
		</li>
		<li id="new-feed">
		    <a href="/search" class="thumbnail newfeed">
		     	 <div class="feed" id="new">
		     	 	<span class="icon"><img src="/images/assets/icon-plus.png" /></span>
					<div class="feed-title">
						<h2>New Feed</h2>
					</div>
				</div>
		    </a>
		</li>
	</div>
  </body>
</html>